/* /cards/layout.tsx */
.cardsLayoutContainer {
  height: var(--mantine-scrollarea-height);
  width: var(--mantine-scrollarea-width-noscroll);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: light-dark(var(--mantine-color-primary-9), var(--mantine-color-primary-1));
  text-shadow: 2px 2px 4px light-dark(var(--mantine-color-primary-5), var(--mantine-color-primary-2));
  transition-property: color, text-shadow;
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
  transition-delay: 0.15s;
}

.missionDeckSelectorBackground {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url(/transparent_1px.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition-property: background-image;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
  transition-delay: 0s;
  box-shadow: 0 0 8px 8px light-dark(var(--mantine-color-primary-4), var(--mantine-color-primary-7)) inset;
}

.missionDeckSelectorContainer {
  z-index: 1;
  height: fit-content;
  width: 100%;
  padding: 20px;
  max-height: 750px;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: 600px) {
    flex-direction: column;
    max-height: 100%;
  }
}

.missionDeckSelectorSpacer {
  width: 10vw;
  height: 30px;
  min-height: 30px;
}

.missionDeckSelector {
  all: unset;
  transition: transform 0.5s ease-in-out;
}

/* TEMPORARY */
.missionDeckSelectorDisabled {
  cursor: not-allowed;
}

.missionDeckSelectorDisabledWatermark {
  text-align: center;
  text-transform: none;
  text-decoration: none !important;
  color: rgb(255, 252, 88);
  text-shadow: 2px 2px #3B554A;
  height: 0;
  position: relative;
  top: 200px;
  left: 0px;
  font-family: Conduit ITC;
  font-size: 48pt;
}
/*************/

.missionDeckImage {
  width: 100%;
  height: auto;
  border: 3px solid light-dark(var(--mantine-color-primary-7), var(--mantine-color-primary-2));
  border-radius: 20px;
}

.missionDeckSelector:hover {
  transform: scale(1.05)
}

/* CardViewer.tsx */
.cardButton {
  & {
    all: unset;
    user-select: none;
  }
  &:hover {
    cursor: zoom-in;
  }
}

.cardModal {
  padding: 0;
  :global(.mantine-Modal-root),
  :global(.mantine-Modal-content) {
    overflow: hidden;
    height: calc(var(--card-height) * var(--card-modal-scale));
    width: calc(var(--card-width) * var(--card-modal-scale));
    background-color: transparent;
    flex: none;
  }
  :global(.mantine-Modal-body) {
    padding: 0;
  }
}

.cardInModal {
  display: flex;
  height: var(--card-height);
  width: var(--card-width);
  padding: var(--card-margin) * -1;
  transition: transform 0.1s ease-in-out;
  transform: scale(var(--card-modal-scale));
  transform-origin: top left;
}

.cardInModal .cardContainer {
  margin: 0;
  &:hover {
    transform: scale(1)
  }
}

.cardInModal .cardButton {
  & {
    all: unset;
    user-select: text;
  }
  &:hover {
    cursor: default;
  }
}

.cardInModal .cardButton > div > div > div > div {
  &:hover {
    cursor: text !important;
  }
}
/******************/

.allCardsContainer {
  height: 100%;
  width: 100%;
}

.allCardsContainer h2 {
  margin-left: 14px;
  margin-bottom: 6px;
  color: light-dark(var(--mantine-color-primary-9), var(--mantine-color-primary-0))
}

.cardContainer {
  position: relative;
  flex-shrink: 0;
  height: var(--card-height);
  width: var(--card-width);
  margin: var(--card-margin);
  transition: transform 0.1s ease-in-out;
}

.cardContainer:hover {
  transform: scale(var(--card-hover-scale))
}

.card {
  font-family: Conduit ITC;
  color: var(--mantine-color-black);
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  border: 1px solid var(--mantine-color-black);
  border-radius: var(--card-border-radius);
}

.cardHeader {
  font-family: Conduit ITC Bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  height: 75px;
  letter-spacing: 0.045rem;
  padding-top: 1.1rem;
  color: var(--mantine-color-white);
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
}

.cardType {
  height: 15px;
  padding-top: 2px;
  font-size: var(--card-type-font-size);
}

.cardTitle {
  font-size: var(--card-title-font-size);
}

.cardFlavorBodyContainer {
  padding-top: 6px;
  padding-left: 15px;
  padding-right: 14px;
  color: var(--mantine-color-black);
}

.cardFlavor {
  padding: 3px;
  text-align: center;
  font-family: Conduit ITC Italic;
  font-size: var(--card-flavor-font-size);
  line-height: var(--card-line-height);
}

.cardFlavorSmall {
  font-size: var(--card-flavor-font-size-small) !important;
}

.cardFlavorDottedLine {
  font-family: consolas;
  font-size: 7pt;
  letter-spacing: -1.28px;
  height: 4px;
  padding: 0;
  margin-left: -2px;
  margin-right: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardBody {
  padding: 3px;
  margin-top: -4px;
  font-family: Conduit ITC Light;
  font-size: var(--card-body-font-size);
  line-height: var(--card-line-height);
}

.cardBodyPrimaryMission {
  font-size: var(--card-body-primary-mission-font-size); /* Text on primary mission cards is a bit smaller */
}

.cardBodySmallSecondaryMission {
  font-size: var(--card-body-secondary-mission-small-font-size);
}

.cardBodySmallSecondaryMission p {
  line-height: var(--card-line-height-tall);
}

.cardBody p {
  margin: 8px 0;
}

.cardBodyStrongTextAttacker p strong {
  font-family: 'Conduit ITC Bold';
  color: #AA3142;
  text-transform: uppercase;
}

.cardBodyStrongTextDefender p strong {
  font-family: 'Conduit ITC Bold';
  color: #3B554A;
  text-transform: uppercase;
}

.cardFixedIcon {
  position: absolute;
  bottom: 18px;
  left: 18px;
  height: 26px;
}

.cardFixedIcon img {
  max-width: 100%;
  max-height: 100%;
}

.cardList {
  display: flex;
  flex-direction: row;
}
/* Styles used in the card body itself, only used in @/app/cards/leviathan_cards.tsx */
.primaryMissionHeader {
  font-size: var(--card-body-font-size);
  background-color: var(--mantine-color-primary_mission_header-1);
  color: var(--mantine-color-white);
  text-align: center;
  margin-top: 9px;
  margin-bottom: -3px;
  letter-spacing: 0.009rem;
  height: 11px;
  line-height: var(--card-line-height);
  font-weight: 500;
}

.missionCardList {
  list-style-type: square;
  list-style-position: outside;
  padding-inline-start: 1.4em;
  margin: 2px;
  margin-right: 0;
}

.primaryMissionCardListAfterHeader {
  margin-top: 7px;
}

.missionCardList li {
  width: calc(100% + 1px);
}

.missionCardList li::marker {
  content: '\25A0       '; /* Square bullet, workaround to get bullet to align with text properly. */
  padding-top: 0px;
}

.missionCardList li span:first {
  position: relative;
  left: -0.38em;
}

.cardKeyword {
  font-family: 'Conduit ITC ExtraBold';
  display: inline-block;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 1em;
}
.cardKeyword::first-letter {
  font-size: 1.2em;
}

/* Card classes to apply background images */
.cardBackDeployment {
  background-image: url('/cards/leviathan/Leviathan_Deployment_Back.jpg')
}
.cardFrontDeploymentCrucibleOfBattle {
  background-image: url('/cards/leviathan/Leviathan_Deployment_Crucible_of_Battle.jpg')
}
.cardFrontDeploymentDawnOfWar {
  background-image: url('/cards/leviathan/Leviathan_Deployment_Dawn_of_War.jpg')
}
.cardFrontDeploymentHammerAndAnvil {
  background-image: url('/cards/leviathan/Leviathan_Deployment_Hammer_and_Anvil.jpg')
}
.cardFrontDeploymentSearchAndDestroy {
  background-image: url('/cards/leviathan/Leviathan_Deployment_Search_and_Destroy.jpg')
}
.cardFrontDeploymentSweepingEngagement {
  background-image: url('/cards/leviathan/Leviathan_Deployment_Sweeping_Engagement.jpg')
}

.cardBackMissionRule {
  background-image: url('/cards/leviathan/Leviathan_Mission_Rule_Back.jpg');
}
.cardFrontMissionRule {
  background-image: url('/cards/leviathan/Leviathan_Mission_Rule_Front.jpg');
}

.cardBackPrimaryMission {
  background-image: url('/cards/leviathan/Leviathan_Primary_Mission_Back.jpg');
}
.cardFrontPrimaryMission {
  background-image: url('/cards/leviathan/Leviathan_Primary_Mission_Front.jpg');
}

.cardBackAttackerSecondaryMission {
  background-image: url('/cards/leviathan/Leviathan_Secondary_Mission_Back_(Attacker).jpg');
}
.cardBackDefenderSecondaryMission {
  background-image: url('/cards/leviathan/Leviathan_Secondary_Mission_Back_(Defender).jpg');
}
.cardFrontAttackerSecondaryMission {
  background-image: url('/cards/leviathan/Leviathan_Secondary_Mission_Front_(Attacker).jpg');
}
.cardFrontDefenderSecondaryMission {
  background-image: url('/cards/leviathan/Leviathan_Secondary_Mission_Front_(Defender).jpg');
}

.cardBackAttackerGambit {
  background-image: url('/cards/leviathan/Leviathan_Gambit_Back_(Attacker).jpg')
}
.cardBackDefenderGambit {
  background-image: url('/cards/leviathan/Leviathan_Gambit_Back_(Defender).jpg')
}
.cardFrontAttackerGambit {
  background-image: url('/cards/leviathan/Leviathan_Gambit_Front_(Attacker).jpg')
}
.cardFrontDefenderGambit {
  background-image: url('/cards/leviathan/Leviathan_Gambit_Front_(Defender).jpg')
}
/* End card classes for background images */